/* font link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Work Sans", sans-serif;
}
/* navigation */
.nav{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
}
.arc{
    font-weight: 700;
    font-size: 45px;
    /* font-family: Work Sans; */
    color: #131313;
}
.navbar ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    list-style-type: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

li a{
     text-decoration: none;
}
.my-head{
    /* display: none; */
    background-color: #FFF8F3;
    padding: 0px 200px;
   
}


/* brand new er kaj */
.brand{
    /* border: 2px solid rgb(43, 18, 232); */
    text-align: center;
    margin-bottom: 50px;
}
.brand-new{
    font-weight: 700;
    font-size: 64px;
    /* font-family: Work Sans; */
    color: #143858;
}
.btn1{
    background-color: #ff900e;
    color: #ffffff;
    border: none;
    border-radius:5px;
    padding: 21px 24px 20px 25px;
    width: 180px;
    height: 64px;
}

.fimg img{
    width:100%;
    object-fit: cover;
}

/* 4 img er kaj */
.four-img{
    /* border: 2px solid rgb(18, 232, 93); */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 43px;
   padding-left: 173px;
    margin-top: 85px;
}
.team{
    width: 242px;
    height: 242px;
   margin-right: 24px;
    
}
.team1{
    margin-top: 132px;
}
.dev{
    margin-top: 24px;
    margin-bottom: 130px;
}

.teamh1{
    margin-top: 120px;
    font-weight: 500;
    font-size: 45px;
    /* font-family: Work Sans; */
    color: #727272;
}
.teamh2{
    font-weight: 700;
    font-size: 45px;
    /* font-family: Work Sans; */
    color: #131313;
}
.teamh3{
    font-weight: 700;
    font-size: 45px;
    /* font-family: Work Sans; */
    color: #ff900e;
}
.teamp{
    font-weight: 400;
    font-size: 16px;
    /* font-family: Work Sans; */
    color: #838383;
}
/* feature you will ar kaj */
.feature{
    /* border: 2px solid rgb(232, 18, 150); */
    display: flex;
    margin-right: 240px;
    margin-left: 160px;
}
.love1{
    font-weight: 700;
    font-size: 45px;
    color: #313131;
}
.love{
    font-weight: 400;
    font-size: 16px;
    color: #a7a7a7;
}
 .box{
    /* border: 1px solid red; */
   background: #ffffff;
    border-radius: 5px;
    padding:10px 25px 10px 30px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    width: 550px;
    height: 170px;
    margin-top:10px;
 }
 .boxh{
    color: #222222;
    font-weight: 600;
    font-size: 20px;
 }
 .boxp{
    color: #afafaf;
    font-weight: 400;
    font-size: 16px;
 }
 .container{
    position: relative;
 }
 .big {
    position: relative;
    z-index: 1;
    /* height: 100px;
    margin: 30px; */
  }
  
  .bt {
    position: absolute;
    z-index: 3; 
    /* left: 20px; */
    margin-top: -100px;
    margin-left: 25px;
    
  }
  
 .btn2{
    background-color: #ff900e;
    color: #ffffff;
    border: none;
    border-radius:5px;
    padding: 46px 42px 45px 42px;
    width: 243px;
    height: 160px;
 }
 .btn-year{
    font-weight: 700;
    font-size: 45px;
 }
 .btn-year1{
    font-weight: 500;
    font-size: 25px;
 }
.big-img{
    width: 550px;
    height: 1050px;
    margin-left: 54px;
    border-radius: 5px;
}


/* some facts ar kaj */
.some-facts{
    /* border: 2px solid rgb(232, 107, 18); */
    padding-left: 170px;
    
}
.facts{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 130px;
    margin-bottom: 20px;
}
.pfacts{
    font-weight: 400;
    font-size: 16px;
    color: #b8b8b8;
    margin-bottom: 100px;
    
}
.four-icons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    margin-top: 30px;
    gap: 124px;
    padding-left: 210px;
    padding-right: 200px;
}
.icon{
    border: 1px solid #ffd5a4;
    margin-bottom: 180px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}
.icon img{
    height: 45px;
    width: 45px;
}
.icon1{
    text-align: center;
    margin-bottom: 5px;
}
.icon2{
    text-align: center;
    
}
/* .box2{
    justify-content: center;
    padding: 45px 95px 0px 95px;
    padding-left: 95px;

} */
/* footer er kaj */
.footer{
    /* border: 2px solid rgb(18, 146, 232); */
    text-align: center;
    /* padding-left: 190px;
    padding-right: 190px; */
    /* margin-top: 80px; */
    /* margin-bottom: 30px; */
}
.foot{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 180px;
    margin-bottom: 24px;
}
.foot1{
    font-weight: 400;
    font-size: 16px;
    color: #848484;
    /* margin-top: 24px; */
    margin-bottom: 50px;
}
.sponsors{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 80px;
    width: 36px;
    height: 50px;
    padding-left: 190px;
    padding-right: 190px;
    /* gap: 124px; */
   
    filter: grayscale();
}

.last{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    background-color: #fff4e7;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.lastp{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    padding: 10px 180px;
}

@media screen and (max-width:576px) {
    /* For mobile phones: */

    .my-head{
        padding: 5px;
       }
       .arc{
        text-align: center;
       }
    .nav{
        grid-template-columns: repeat(1,1fr);
        /* margin-left: 5px; */
    }
    .navbar ul{
        flex-direction: column;
        margin-left: 5px;
        
    }
    .four-img{
        /* display: grid; */
        grid-template-columns: repeat(1, 1fr);
        
        /* flex-direction: column; */
        padding: 5px;
        margin: 5px;
        gap: 24px;
    }
    /* .four-img div{
        flex-direction: column;
        
    } */
    .team1{
        flex-direction: column;
        margin: 5px;
    }
    /* .teamh{
        margin:5px;
    } */
    .team4{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-bottom: -10px;
      
    }
    .dev{
        margin-top: 0px;
        /* margin-bottom: 20px; */
    }

    .feature{
        /* width: 50%; */
        flex-direction: column;
        /* padding: 5px; */
       margin: 5px;
    }
    .box{
        padding:2px;
    }
    .big-img{
        margin: 5px;
    }
    .some-facts{
        padding: 5px;
    }
    .pfacts{
        margin-bottom: 10px;
    }

    .four-icons{
        flex-direction: column;
        padding: 5px;
        margin: 5px;
        gap: 5px;
    }

    .footer{
        flex-direction: column;
    }
    .foot{
        margin: 5px;
    }
    .foot1{
        margin: 5px;
    }
    .sponsors{
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        /* width: 5px;
        height: 3px; */
        padding-left: 5px;
        padding-right: 5px;
       
    }
    .last{
        flex-direction: column;
        margin: 15px;
    }
    .lastp{
        font-size: 10px;
        flex-direction: column;
        margin-top: 55px;
        padding: 25px;
    }
    

 }